@import url(https://fonts.bunny.net/css?family=space-mono:400,400i,700,700i|work-sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900i);

@import "tailwindcss";

@import "primeicons/primeicons.css";

@theme {
  --font-heading: "Space Mono", monospace;
  --font-content: "Work Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}
